.header {
    color: #fff;
    background-color: #3f454d !important;
    height: 36px !important;
    font-weight: 400;
    position: relative;
    z-index: 1001;
    width: 100%;
}

.headerContent {
    color: #ffffff;
    height: 36px;
    line-height: 36px;
    margin: 0 auto;
    padding: 0 20px;
    width: 980px;
}

.headerLogo {
    float: left;
    height: 22px;
    margin-right: 20px;
}

.headerLogoImg {
    height: 22px;
    vertical-align: middle;
    width: 123px;
    position: relative;
    top: -1px;
}

.headerMenu {
    float: right;
    position: relative;
    padding: 0 30px 0 15px;
    cursor: pointer;
}

.headerMenuAnchor {
    color: #ff4800 !important;
}